
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.net
*.dsn
*.ses
*.xml
*.csv
rescue-backup/
*.tsv
bom/
~NeoSofle.kicad_sch.lck
pcb/#auto_saved_files#
working-notes/
pcb/~NeoSofle.kicad_pcb.lck
